    body{
        margin: 0;
        padding: 0;
        background-color: white;
    }
    #section1{
        
    display: flex;
    align-items: center;
    
    margin-left: 2.34%;
    margin-right: 2.34%;
    margin-bottom: 40px;
    margin-top: 60px;
    padding-left: 5.76%;
    padding-right: 5.76%;
    background-image: url(../images/mtn.home.jpg);
    border-radius: 24px;
    }
    button{
        background-color: inherit;
        border-radius: 50px;
        width: 25%;
        height: 39px;
        cursor: pointer;
        color: black;
    }
    #section2{
        margin-top: 20px;
        background-color: black;
        border-radius: 9px;
    }